@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00B8F1;
}

header{
    text-align: center;
}

nav{
    background-color: #FA7ECD;
}

nav ul{
    list-style-type: none;
}

nav a{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    display: block;
    color: #3A404C;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

nav .active{
    background-color: rgba(248,229,146,0.9);
}

h1{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 700;
    text-align: center;
}
.parentsize{
    margin: 1rem 2vw;
}

.parentsize section{
    border: 1px solid;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parentsize h2{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    background-color: #FA7ECD;
    color: #3A404C;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parentsize ul{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    padding: 10px;
}

.parentsize p{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    padding: 10px;
}

footer{
    text-align: center;
}